*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	background: #e4e9f7;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 90vh;
}

.container{
	background: white;
	display: flex;
	flex-direction: column;
	padding: 25px 25px;
	border-radius: 20px;
	box-shadow: 0 0 128px rgba(0, 0, 0, .1), 0 34px 64px -48px rgba(0, 0, 0, .5);
}

.container h2{
	text-align: center;
	font-size: 25px;
	font-weight: 600;
	padding-bottom: 10px;
}

.container.input-box{
	display: flex;
	margin-bottom: 10px;
	flex-direction: column;
}

.input-box input{
	height: 30px;
	width: 100%;
	font-size: 16px;
	padding: 0 10px;
	border-radius: 5px;
	border-radius: 1px solid #ccc;
	outline: none;
}

.btn{
	height: 25px;
	width: 100%;
	background: skyblue;
	border: 0;
	border-radius: 5px;
	color: black;
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 10px;
	transition: .3s ease;
}

.btn:hover{
	background: seagreen;
}

a .btn-btn{
	height: 25px;
	width: 100%;
	background: seagreen;
	font-weight: 600;
	border: 0;
	border-radius: 5px;
	color: black;
	font-weight: 600;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	transition: .3s ease;
}

a .bnt-btn:hover{
	background: skyblue;
}